
  <div>
    <div class="bg-[#FFFFFF]  rounded-t-lg">
      <div class="mx-[20px] pt-[43px]" style="aspect-ratio: 4/3">
        <a href="#shop"><img class="w-full h-full object-cover" src="imgs/快快取小飽盒.png" alt=""></a>
      </div>
      <div class="py-[20px] mx-[20px]">
        <h2 class="mb-[11px] !text-[#1A2D51] text-[24px] font-semibold">快快取小飽盒</h2>
        <span class="text-[#41506C] tracking-[1px] text-[16px] inline-block leading-[27px]">
          適合首次下廚的新手，下單擁有營養師特製菜單免擔心營養失調，完整食譜與調味的一餐只需30分鐘即可輕鬆煮完，輕鬆煮小飽盒即便單人吃也不剩食。
        </span>
      </div>
    </div>
    <div
      class="bg-[#E69634] rounded-b-lg h-[80px] flex items-center justify-between p-[34px] leading-[10px] text-[#1A2D51] font-semibold">
      <p>NT $699</p>
      <div><a class="!text-[#1A2D51]" href="#shop">查看詳情</a></div>
    </div>
  </div>