@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;600;800&display=swap');

@font-face {
    font-family: 'AbelRegular';
    src: url('fonts/abel-regular-webfont.eot');
    src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/abel-regular-webfont.woff') format('woff'), url('fonts/abel-regular-webfont.ttf') format('truetype'), url('fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
}

body {
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
    font-weight: 600;
}


.txtJL {
    font-family: "AbelRegular", sans-serif;
    font-weight: normal;
}

.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
    text-decoration: none;
}

#header_ui .uk-active a {
    color: #1b96e0;
}

.logo_text {
    border: #323232 1.5px solid;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 2px 8px;
    height: 28px;
    background-color: #fff;

    &:hover {
        background-color: orange;
        color: #fff;
    }
}

.header_btn {
    border: orange 3px solid;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.2em;
    padding: 10px 20px;
    background-color: #fff;
    text-align: center;

    &:hover {
        background-color: orange;
        color: #fff;
    }
}

.uk-offcanvas-bar {
    background: #fff;

    a {
        color: #323232;

        &:hover {
            color: #1288CA;
        }
    }
}

.plan_btn {
    background-color: #ffdd3d;
    padding: 10px 96px;
    border-radius: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #323232;
    border: 4px solid #fff;
    letter-spacing: 0.3rem;
    display: inline-block;
    position: relative;

    &:hover {
        background-color: #ffec7f;
        color: #323232;
    }

    &::after {
        content: "→";
        position: absolute;
        right: 16px;
        top: 8px;
    }
}

.yellow_line {
    display: inline-block;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        width: 100%;
        height: 10px;
        background-color: #ffde25;
        display: block;
        position: absolute;
        top: 5px;
        z-index: -1;
    }
}

.input_group {
    position: relative;

    &.front_icon::before {
        content: "";
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.front_icon.lock::before {
        background-image: url(../imgs/lock.svg);
    }

    &.front_icon.email::before {
        background-image: url(../imgs/lock.svg);
    }

    &.front_icon.phone::before {
        background-image: url(../imgs/lock.svg);
    }

    input,
    textarea {
        background-color: white;
        border: 1px solid black;
        padding: 10px 24px;
        width: 100%;

        &:focus {
            outline: none;
            border: 1px solid #0693e3;
            box-shadow: 0 0 0 1.5px #0693e3;
        }
    }
}

.input_chose {
    input {
        display: none;
    }

    label {
        padding: 10px 13px;
        border-radius: 30px;
        cursor: pointer;

        &::before {
            content: "";
            display: inline-block;
            width: 23px;
            height: 23px;
            background-color: #fff;
            border-radius: 50%;
            border: 2px solid #777;
            vertical-align: middle;
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
    }

    input:checked+label {
        background-color: #dfdfdf;
    }

    input+label:hover {
        background-color: #ffec7f;
    }

    input:checked+label::before {
        border: 7px solid red;
    }
}

.zoom {
    overflow: hidden;
    position: relative;
    transform: scale(1.01, 1.01);

    .inner {
        transition: transform .42s cubic-bezier(.15, .46, .57, 1);

        &::before {
            content: "";
            transition: opacity .42s cubic-bezier(.15, .46, .57, 1);
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.25);
        }
    }

    &:hover .inner {
        transform: scale(1.08, 1.08);

        &::before {
            opacity: 1;
        }
    }
}


@media (min-width: 1024px) {
    #offcanvas-flip {
        display: block;
        position: static;

        .uk-offcanvas-bar {
            position: static;
            width: auto;
            padding: 0;
            background: transparent;

            a {
                color: black;
            }

            .uk-offcanvas-close {
                display: none;
                width: 100px;
                color: black;
            }
        }
    }
}