<div class="bg-white"><!-- 部落格範圍 -->
    <div class=" w-full h-[40px] flex items-center justify-between pr-8 pl-6" ><!-- 部落格bar -->
      <div class="text-[#627664] font-bold text-[16px] ">部落格Blog</div><!-- 部落格文字 -->
      <div class="flex justify-center items-center w-auto">
        <button><div class="text-[#4F4F4F] font-bold text-[11px] ">更多</div></button><!-- 更多文字 -->
        <img src="img/down-arrow 1.png" alt="">
      </div>
    </div>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="sets: true">

      <ul class="uk-slider-items uk-child-width-1-1@s ">
        <!-- <%for(var i=0;i<15;i++){%> -->
          <div class=" flex flex-col gap-3 w-[342px] m-7 ">
            <div class=" flex items-center m-auto   ">
              <img class="w-[59px] h-[42px] mr-8  " src="img/a965a8b7bcdc6d505423ead466f9fd3c.png" alt="">
              <div class="flex-1 ">
              <h2 class="text-[9px] font-bold py-1 !text-black">台北101周邊景點遊哪趣</h2>
              <ul>
                <li class="text-[7px] !text-black ">💥台北101要去哪理由玩呢? 那一定...</li>
              </ul>
             </div>
            </div>
           <div class=" flex items-center m-auto ">
              <img class="w-[59px] h-[42px] mr-8 " src="img/d40c79343a458f47559e86345b63319a.png" alt="">
              <div class="flex-1 ">
              <h2 class="text-[9px] font-bold py-1 !text-black">台北101周邊景點遊哪趣</h2>
              <ul>
                <li class="text-[7px] !text-black ">💥台北101要去哪理由玩呢? 那一定...</li>
              </ul>
              </div>
            </div>
           <div class=" flex items-center  m-auto ">
              <img class="w-[59px] h-[42px] mr-8 " src="img/3f011d72c46841448b93eebea81311ab.png" alt="">
              <div class="flex-1 ">
              <h2 class="text-[9px] font-bold py-1 !text-black">台北101周邊景點遊哪趣</h2>
              <ul>
                <li class="text-[7px] !text-black ">💥台北101要去哪理由玩呢? 那一定...</li>
              </ul>
              </div>
             </div>
            <div class=" flex items-center  m-auto ">
                <img class="w-[59px] h-[42px] mr-8" src="img/18e05cf4a397813ac77b1ea59db5ba3e.png" alt="">
                <div class="flex-1 ">
                <h2 class="text-[9px] font-bold py-1 !text-black">台北101周邊景點遊哪趣</h2>
                <ul>
                  <li class="text-[7px]  !text-black">💥台北101要去哪理由玩呢? 那一定...</li>
                </ul>
                </div>
              </div>
             <div class=" flex items-center  m-auto ">
                <img class="w-[59px] h-[42px]  mr-8" src="img/79e0865723891ce36d314d334c39209a.png" alt="">
                <div class="flex-1 ">
                <h2 class="text-[9px] font-bold py-1 !text-black">台北101周邊景點遊哪趣</h2>
                <ul>
                  <li class="text-[7px] !text-black ">💥台北101要去哪理由玩呢? 那一定...</li>
                </ul>
                </div>
              </div>
          </div>
            <div class=" flex  flex-col gap-3 w-[342px] m-7 ">
              <div class=" flex items-center m-auto  ">
                <img class="w-[59px] h-[42px] mr-8 " src="img/79f42f7edb6c6ae2cc57e35c4febbdc9.png" alt="">
                <div class="flex-1 ">
                <h2 class="text-[9px] font-bold py-1  !text-black">台北101周邊景點遊哪趣</h2>
                <ul>
                  <li class="text-[7px] !text-black ">💥台北101要去哪理由玩呢? 那一定...</li>
                </ul>
                </div>
              </div>
              <div class=" flex items-center m-auto ">
                <img class="w-[59px] h-[42px] mr-8 " src="img/07bc024b8c4fbc45e2762105ace0b7c6.png" alt="">
                <div class="flex-1 ">
                <h2 class="text-[9px] font-bold py-1  !text-black">台北101周邊景點遊哪趣</h2>
                <ul>
                  <li class="text-[7px]  !text-black">💥台北101要去哪理由玩呢? 那一定...</li>
                </ul>
                </div>
              </div>
              <div class=" flex items-center  m-auto ">
                <img class="w-[59px] h-[42px] mr-8 " src="img/850e6f81bd7c679b43360ed892d956e9.png" alt="">
                <div class="flex-1 ">
                <h2 class="text-[9px] font-bold py-1  !text-black">台北101周邊景點遊哪趣</h2>
                <ul>
                  <li class="text-[7px] !text-black ">💥台北101要去哪理由玩呢? 那一定...</li>
                </ul>
                </div>
              </div>
              <div class=" flex items-center  m-auto ">
                <img class="w-[59px] h-[42px] mr-8" src="img/7231c97f0030e701b4591813a68b9902.png" alt="">
                <div class="flex-1 ">
                <h2 class="text-[9px] font-bold py-1  !text-black">台北101周邊景點遊哪趣</h2>
                <ul>
                  <li class="text-[7px]  !text-black">💥台北101要去哪理由玩呢? 那一定...</li>
                </ul>
                </div>
              </div>
              <div class=" flex items-center  m-auto ">
                <img class="w-[59px] h-[42px]  mr-8" src="img/d3582b8ec672ed33fb4e6da76063c9db.png" alt="">
                <div class="flex-1 ">
                <h2 class="text-[9px] font-bold py-1  !text-black" >台北101周邊景點遊哪趣</h2>
                <ul>
                  <li class="text-[7px]  !text-black">💥台北101要去哪理由玩呢? 那一定...</li>
                </ul>
                </div>
              </div>
            </div>
          <div class=" flex  flex-col gap-3 w-[342px] m-7 ">
            <div class=" flex items-center m-auto  ">
              <img class="w-[59px] h-[42px] mr-8 " src="img/79f42f7edb6c6ae2cc57e35c4febbdc9.png" alt="">
              <div class="flex-1 ">
              <h2 class="text-[9px] font-bold py-1  !text-black">台北101周邊景點遊哪趣</h2>
              <ul>
                <li class="text-[7px] !text-black ">💥台北101要去哪理由玩呢? 那一定...</li>
              </ul>
              </div>
            </div>
            <div class=" flex items-center m-auto ">
              <img class="w-[59px] h-[42px] mr-8 " src="img/07bc024b8c4fbc45e2762105ace0b7c6.png" alt="">
              <div class="flex-1 ">
              <h2 class="text-[9px] font-bold py-1 !text-black">台北101周邊景點遊哪趣</h2>
              <ul>
                <li class="text-[7px]  !text-black">💥台北101要去哪理由玩呢? 那一定...</li>
              </ul>
              </div>
            </div>
            <div class=" flex items-center  m-auto ">
              <img class="w-[59px] h-[42px] mr-8 " src="img/850e6f81bd7c679b43360ed892d956e9.png" alt="">
              <div class="flex-1 ">
              <h2 class="text-[9px] font-bold py-1 !text-black">台北101周邊景點遊哪趣</h2>
              <ul>
                <li class="text-[7px]  !text-black">💥台北101要去哪理由玩呢? 那一定...</li>
              </ul>
              </div>
            </div>
            <div class=" flex items-center  m-auto ">
              <img class="w-[59px] h-[42px] mr-8" src="img/7231c97f0030e701b4591813a68b9902.png" alt="">
              <div class="flex-1 ">
              <h2 class="text-[9px] font-bold py-1 !text-black">台北101周邊景點遊哪趣</h2>
              <ul>
                <li class="text-[7px]  !text-black">💥台北101要去哪理由玩呢? 那一定...</li>
              </ul>
              </div>
            </div>
            <div class=" flex items-center  m-auto ">
              <img class="w-[59px] h-[42px]  mr-8" src="img/d3582b8ec672ed33fb4e6da76063c9db.png" alt="">
              <div class="flex-1 ">
              <h2 class="text-[9px] font-bold py-1 !text-black">台北101周邊景點遊哪趣</h2>
              <ul>
                <li class="text-[7px] !text-black ">💥台北101要去哪理由玩呢? 那一定...</li>
              </ul>
              </div>
            </div>
          </div>
        <!-- <%}%> -->
      </ul>
  
      <a class="uk-position-center-left uk-position-small uk-hidden-hover !text-[#4F4F4F]" href uk-slidenav-previous uk-slider-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover !text-[#4F4F4F]" href uk-slidenav-next uk-slider-item="next"></a>
  
  </div>

    </div><!-- 部落格輪播頁 -->