<div><!-- 合作廠商範圍 -->
    <div class="text-[#627664] bg-white font-bold text-[16px] px-[24px] py-[16px]">合作夥伴</div><!-- 合作夥伴文字 -->
    <div class="h-[70px] bg-white"><!-- 合作夥伴圖片 -->
      <div class="relative" uk-slider="autoplay:true;autoplay-interval:500">
        <div class="flex uk-slider-items items-center">
          <div class="w-[120px] h-auto px-6"><img class="object-cover" src="img/ba0f4d9d2263b093254251ac7ffbbb61.png" alt=""></div>
          <div class="w-[120px] h-auto px-6"><img class="object-cover" src="img/logo (1) 1.png" alt=""></div>
          <div class="w-[120px] h-auto px-6"><img class="object-cover" src="img/logo 2.png" alt=""></div>
          <div class="w-[120px] h-auto px-6"><img class="object-cover" src="img/logo_ms 1.png" alt=""></div>
          <div class="w-[120px] h-auto px-6"><img class="object-cover" src="img/pic_01 2.png" alt=""></div>
          <%for(var i=0;i<5;i++){%>
            <div class="w-[120px] h-auto px-6"><img class="object-cover" loading="lazy" src="img/ba0f4d9d2263b093254251ac7ffbbb61.png" alt=""></div>
            <div class="w-[120px] h-auto px-6"><img class="object-cover" loading="lazy" src="img/logo (1) 1.png" alt=""></div>
            <div class="w-[120px] h-auto px-6"><img class="object-cover" loading="lazy" src="img/logo 2.png" alt=""></div>
            <div class="w-[120px] h-auto px-6"><img class="object-cover" loading="lazy" src="img/logo_ms 1.png" alt=""></div>
            <div class="w-[120px] h-auto px-6"><img class="object-cover" loading="lazy" src="img/pic_01 2.png" alt=""></div>
          <%}%>
        </div>
      </div>
    </div>
</div>