<div uk-slider class="px-6 bg-white"><!-- 輪播圖banner -->
    <div class="uk-position-relative uk-visible-toggle uk-light w-full text-center py-5 px-[15px] lg:px-5" tabindex="-1" uk-slider="center: true">
      <ul class="uk-slider-items uk-grid">
        <li class="uk-width-3-4">
          <div class="uk-panel rounded-2xl overflow-clip h-40 w-72">
            <a href="#">
              <img src="img/086abecb1bf30a9fab4a6abc8df62f0b.jpg" alt="">
              <div class="uk-position-bottom uk-panel bg-[#000] bg-opacity-50 text-[#fff] text-opacity-75 font-bold py-2">
                <h2 class="text-[14px]">旅行全台灣</h2>
              </div>
            </a>
          </div>
        </li>
        <li class="ml-6">
          <div class="uk-panel rounded-2xl overflow-clip h-40 w-72">
            <a href="#">
              <img class="object-cover" src="img/37cdf8b289534e2fb94d7b017d5c866a.jpg" alt="">
              <div class="uk-position-bottom uk-panel bg-[#000] bg-opacity-50 text-[#fff] text-opacity-75 font-bold py-2">
                <h2 class="text-[14px]">優惠電影票</h2>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="uk-panel rounded-2xl overflow-clip h-40 w-72">
            <a href="#">
              <img class="w-full" src="img/road-220058_1280.png" alt="">
              <div class="uk-position-bottom uk-panel w-full bg-[#000] bg-opacity-50 text-[#fff] text-opacity-75 font-bold py-2">
                <h2 class="text-[14px]">探索未知城市</h2>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="uk-panel rounded-2xl overflow-clip h-40 w-72">
            <a href="#">
              <img src="img/ce14af9303c93ab0bb7e158a777c6729.jpg" alt="">
              <div class="uk-position-bottom uk-panel bg-[#000] bg-opacity-50 text-[#fff] text-opacity-75 font-bold py-2 w-full">
                <h2 class="text-[14px]">發現無人秘境</h2>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="uk-panel rounded-2xl overflow-clip h-40 w-72">
            <a href="#">
              <img src="img/5d0e895f9da92d327308ff8a0b0452ed.jpg" alt="">
              <div class="uk-position-bottom uk-panel bg-[#000] bg-opacity-50 text-[#fff] text-opacity-75 font-bold py-2">
                <h2 class="text-[14px]">最划算票券</h2>
              </div>
            </a>
          </div>
        </li>
      </ul>
      <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
      <a class="uk-position-center-right uk-position-smallr" href uk-slidenav-next uk-slider-item="next"></a>
    </div>
    <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>
</div> 