<div><!-- 主題精選範圍-->
    <div class="px-6 py-4">
      <h3 class="font-bold text-[#627664]">主題精選</h3>
    </div><!-- 主題精選文字 -->
    <div class="h-[140px] rounded-2xl overflow-clip mx-6">
      <a class="w-full h-full block relative" href="#">
        <img class="w-full h-full object-cover -z-1" src="img/c459a6a704af1ccaf4a193bcbf500805.jpg" alt="">
        <div class="bg-[#000] opacity-30 absolute top-0 left-0 z-1 w-full h-full">
          <img class="w-20 h-20 object-center absolute top-[35%] left-[42%]" src="img/62463ba71a19544d52a5a47d5fdf9cdc.gif" alt="">
        </div>
      </a>
    </div><!-- 主題精選圖片 -->
</div>