<header class="sticky top-0 z-40">
    <div class="bg-[#9DB193] w-full h-[48px] relative flex ">
      <img class="absolute left-[40%] h-[48px] w-[48px]" src="img/34ac295e65ea6f00bf783aa804d6f4dc.gif" alt="">
      <div class="flex absolute right-2 top-[12px] gap-2">
        <button><img class="h-[24px] w-[24px] " src="img/icon/cart.png" alt=""></button>
        <button><img class="h-[24px] w-[24px]" src="img/icon/setting.png" alt=""></button>
      </div>
    </div>
  </header>