<div class="bg-white px-6 "><!-- 限時優惠範圍 -->
    <div> <h2 class="py-10 text-[16px] text-[#627664] font-bold pl-6">限時優惠</h2></div><!-- 限時優惠文字 -->
    <div></div><!-- 優惠時間倒數 -->

  <div class="relative "  uk-slider="autoplay: true;autoplay-interval: 2000 ">
      <div class="uk-slider-items ">
        <%for(var i=0;i<20;i++){%>
    
  <div class="zoom relative cursor-pointer">
    <div class="overflow-hidden m-2 w-[200px] h-[280px]  rounded-2xl border-[2px] border-[#9DB193] uk-text-small  ">
            <div class="bg-[#ffffff] border-spacing-6  py-2"></div>
            <div style="aspect-ratio: 16 / 9;" class="zoom relative">
               <a id="container" class=" inner w-full h-full block" href="#">
                 <img class="w-[170px] h-[120px]  object-center rounded-lg m-auto " src="img/5eaae5ae65f46b2ae5521095b8a8dfde.jpg" alt="">
               </a>
               <a class=" bg-[#9DB193] text-black w-[40px] rounded-lg text-[15px] text-center absolute top-[175px] left-[15px]">九份</a>
               <a class=" bg-[#9DB193] text-black w-[40px] rounded-lg text-[15px] text-center absolute top-[175px] left-[65px]">特價</a>
            </div>
            <div class="bg-white p-4">
               <a href="#" class="text-[15px]">九份老街一日遊-享受歷史之美</a>
               
               <div class="flex items-center gap-3">
                   <img class="w-[40px]  rounded-full" src="img/thead12.png" alt="">
               </div>
               <div>
                 <div class="bg-gray-500 w-[50px] h-[2px] absolute top-[233px] left-[130px]" ></div>
                   <span class="text-gray-500 text-[13px] font-bold absolute top-[225px] left-[135px]" >$2500</span>
                   <span class="text-red-500 text-[20px] font-bold absolute top-[238px] left-[120px]" >$1250</span>
               </div>
            </div>
          
          
    </div>
  </div>

  <div class="zoom relative cursor-pointer">
    <div class="overflow-hidden m-2 w-[200px] h-[280px]  rounded-2xl border-[2px] border-[#9DB193] uk-text-small  ">
            <div class="bg-[#ffffff] border-spacing-6  py-2"></div>
            <div style="aspect-ratio: 16 / 9;" class="zoom relative">
               <a id="container" class=" inner w-full h-full block" href="#">
                 <img class="w-[170px] h-[120px]  object-center rounded-lg m-auto " src="img/16c385627ee7dc63822cc91789e0fea4.png" alt="">
               </a>
               <a href="#" class=" bg-[#9DB193] text-black w-[40px] rounded-lg text-[15px] text-center absolute top-[175px] left-[15px]">宜蘭</a>
               <a href="#" class=" bg-[#9DB193] text-black w-[40px] rounded-lg text-[15px] text-center absolute top-[175px] left-[65px]">特價</a>
            </div>
            <div class="bg-white p-4">
               <a href="#" class="text-[15px]">台中武嶺一日遊-農場森呼吸</a>
               
               <div class="flex items-center gap-3">
                   <img class="w-[40px]  rounded-full" src="img/thead12.png" alt="">
               </div>
               <div>
                 <div class="bg-gray-500 w-[50px] h-[2px] absolute top-[233px] left-[130px]" ></div>
                   <span class="text-gray-500 text-[13px] font-bold absolute top-[225px] left-[135px]" >$3000</span>
                   <span class="text-red-500 text-[20px] font-bold absolute top-[238px] left-[120px]" >$1500</span>
               </div>
            </div>
          
          
    </div>
  </div>

  <div class="zoom relative cursor-pointer">
    <div class="overflow-hidden m-2 w-[200px] h-[280px]  rounded-2xl border-[2px] border-[#9DB193] uk-text-small  ">
  <div class="bg-[#ffffff] border-spacing-6  py-2"></div>
  <div style="aspect-ratio: 16 / 9;" class="zoom relative">
     <a id="container" class=" inner w-full h-full block" href="#">
       <img class="w-[170px] h-[120px]  object-center rounded-lg m-auto " src="img/87578b5b7cbebfe13f4d22f22e3f989e.png" alt="">
     </a>
     <a href="#" class=" bg-[#9DB193] text-black w-[40px] rounded-lg text-[15px] text-center absolute top-[175px] left-[15px]">宜蘭</a>
     <a href="#" class=" bg-[#9DB193] text-black w-[40px] rounded-lg text-[15px] text-center absolute top-[175px] left-[65px]">特價</a>
  </div>
  <div class="bg-white p-4">
     <a href="#" class="text-[15px]">太平國家森林遊樂區一日遊</a>
     
     <div class="flex items-center gap-3">
         <img class="w-[40px]  rounded-full" src="img/thead12.png" alt="">
     </div>
     <div>
       <div class="bg-gray-500 w-[50px] h-[2px] absolute top-[233px] left-[130px]" ></div>
         <span class="text-gray-500 text-[13px] font-bold absolute top-[225px] left-[135px]" >$2470</span>
         <span class="text-red-500 text-[20px] font-bold absolute top-[238px] left-[120px]" >$1235</span>
     </div>
  </div>


    </div>
  </div>

    
       <%}%>
      <a class=" uk-position-center-left uk-position-small uk-hidden-hover" href  uk-slider-item="previous"></a>
      <a class=" uk-position-center-right uk-position-small uk-hidden-hover" href  uk-slider-item="next"></a>
    </div>
  </div> 
