<div class="w-full search text-center py-5 px-[24px] lg:px-5 bg-white"><!-- 搜尋bar -->
    <div>
      <form class="text-left " action="">
        <div class="flex w-full items-center gap-2 relative ">
          <div class="w-full flex gap-2 items-center">
            <img class="absolute left-2 top-[2px]" src="img/icon/Search.png" alt="">
            <input class="cancel_input bg-[#d9d9d9] opacity-50 w-full h-8 rounded-full px-10 font-bold focus-visible:outline focus-visible:bg-[#fff]" type="text" placeholder="搜尋地點">
            <a class="hover:no-underline hover:text-[#5d5d5d] font-bold w-10 hidden text-center "  href="#">取消</a>
          </div>
          <div class="">
            
          </div>
        </div>
      </form>
    </div>
</div>