<div class="h-[48px] fixed bottom-2 w-full px-4 z-40"><!-- tab-bar -->
    <div class="bg-[#9db193d8] grid rounded-[40px]  w-auto h-[48px] grid-cols-4 items-center gap-2 px-4 "><!-- tab_bar -->
      <button class="w-auto h-[40px] flex flex-col items-center bg-white rounded-[100px]">
        <img class="h-[24px] w-[24px]" src="img/home.svg" alt="">
        <p class="text-xs h-5 text-[#305734] font-bold">首頁</p>
      </button>
      <button class="w-auto h-[40px] flex flex-col items-center ">
        <img class="h-[24px] w-[24px]" src="img/icon/Vector.svg" alt="">
        <p class="text-xs h-5 text-[#EFEFEF] font-bold">商品總覽</p>
      </button>
      <button class="w-auto h-[40px] flex flex-col items-center ">
        <img class="h-[24px] w-[24px]" src="img/ticket-confirmation-outline.svg" alt="">
        <p class="text-xs h-5 text-[#EFEFEF] font-bold">我的票券</p>
      </button>
      <button class="w-auto h-[40px] flex flex-col items-center ">
        <img class="h-[24px] w-[24px]" src="img/account-circle-outline.svg" alt="">
        <p class="text-xs h-5 text-[#EFEFEF] font-bold">會員</p>
      </button>
    </div>
</div>