<!-- BANNER -->
<div id="BANNER1" class="max-w-[1600px] h-[700px]  mx-auto relative hidden lg:block "><img class="rounded-[40px]" src="img/BANNER.jpg" alt="">
    <div class="absolute lg:top-[8%] left-[10%] 2xl:top-[20%]  ">
      <div>
        <h2 class="text-[#9A3412] font-bold text-[30px] lg:text-[70px]">
          讓咖啡駱駝<br>帶你尋找理想店家!
        </h2>
      </div>
      <div class="mt-12">
        <a class="banner_btn" href="#" >LET’S GO</a>
      </div>
    </div>
  </div>


  <div id="BANNER2" class=" relative  justify-center lg:hidden text-center "><img src="img/BANNER2.jpg" alt="">
    <div class="absolute top-[100px]">
      <div>
        <h2 class="text-[#9A3412] font-bold text-[80px] lg:text-[70px] ">
          讓咖啡駱駝<br>帶你尋找理想店家!
        </h2>
      </div>
      <div class="mt-12">
        <a class="banner_btn" href="#" >LET’S GO</a>
      </div>
    </div>
  </div>